body {
  margin: 0;

  color: #212529;
  font: 18px/1.5 sans-serif;

  background-color: #f7f8fa;
}

img {
  width: 100%;

  vertical-align: middle;
}

h2 {
  text-align: center;
}

.catalog {
  /* BEGIN (write your solution here) */
.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  list-style: none;
  padding: 0;

  text-align: center;
}

.catalog-item {
  width: 250px;
}
  /* END */

  text-align: center;
}

.catalog-item {
  /* BEGIN (write your solution here) */

  /* END */
}
